:root {
  --color-bg: #fff;
  --color-text: #111111de;
  --color-primary: #e4378d;
  --color-border: #e4378d;
  --color-border-done: #c9468788;
  /* Button */
  --button-bg: #e4378d;
  --button-text: #fff;
  --color-x: rgba(0, 0, 0, 0.863);
  --color-color-scheme-button: black;
  --color-warning-button: #ff0055;
  --color-scheme-button-size: 30px;
  --warning-button-size: 20px;
  /* cursor color */
  --color-cursor: black;
}

html.dark-mode {
  --color-bg: #202124;
  --color-text: #fffffff6;
  --color-primary: #f7be3b;
  --color-border: #f7be3b;
  --color-border-focus: #fff67a;
  --color-border-done: #f7bf3b52;
  /* Button */
  --button-bg: #e4378d;
  --button-text: #fff;
  --color-x: rgba(255, 255, 255, 0.904);
  --color-color-scheme-button: white;
  --color-warning-button: #f75828;
  /* cursor color */
  --color-cursor: white;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  caret-color: var(--color-cursor);
}

input, select, textarea {
  color: var(--color-text);
  border-color: var(--color-border);
}

select option {
    background: var(--color-bg);
    color: var(--color-text);
    border-color: var(--color-border);
}

select, button {
    cursor: pointer;
}

.button {
  color: var(--color-primary);
  border-color: var(--color-border);
}